<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Burger Builder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/customers">Manage Customers</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron bg-transparent mt-4">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Hello, burger enthusiast!</h1>
        <p class="lead">Welcome to your one-stop shop for creating and eating fake burgers.</p>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-4">Uneaten</h1>
        <ul class="list-group">
          <li class="list-group-item p-3">
            <form class="needs-validation" novalidate>
              <div class="input-group">
                <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp"
                  placeholder="Enter name" name="name" required>
                <div class="invalid-feedback">
                  Please choose a vaild name.
                </div>
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success" id="newBurgerBtn">Create New Burger</button>
                </div>
              </div>
            </form>
          </li>
          {{#each uneaten}}
          {{> burgers/burger-block}}
          {{/each}}
        </ul>
      </div>
      <div class="col">
        <h1 class="text-center mb-4">Eaten</h1>
        <ul class="list-group">
          {{#each eaten}}
          {{> burgers/burger-block}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/burgers.js"></script>