<tr>
  <td><a href="#" data-name="name" data-type="text" data-pk="{{id}}" data-url="/api/customers/" data-title="Enter name">{{name}}</a></td>
  <td>{{Burgers.length}}</td>
  <td><button type="button" class="btn btn-danger btn-sm delete-btn" data-id="{{id}}">Delete</button></td>
</tr>